@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk');

body {
  background: linear-gradient(125.45deg, #131419 0%, #330099 73.23%);
}

#title {
  font-family: "Cinzel Decorative";
  font-style: normal;
  text-align: center;
}

#subtitle, #welcome-text, .auth-card, .card-body {
  font-family: "Space Grotesk";
  font-style: normal;
  text-align: center;
}

.auth-card {
  background: rgba(137, 195, 239, 0.47) !important;
  opacity: 0.85;
  border-radius: 39px;
  backdrop-filter: blur(4px);
}

.form-control {
  /* background-color: #0b0f16 !important; */
  /* color: #fff !important; */
  border-color: #6c757d !important;
}

.form-control::placeholder {
  color: grey !important;
}

.form-control:focus {
  border-color: #8ec5ff !important;
  box-shadow: 0 0 0 .2rem rgba(142, 197, 255, .25) !important;
}

.btn {
  border-radius: 0.7rem;
}
.mo-brand {
  font-family: 'Cinzel Decorative', serif;
  letter-spacing: 0.06em;
}

.auth-card {
  /* background: rgba(137, 195, 239, 0.47) !important; */
  border-radius: 39px;
  backdrop-filter: blur(4px);
}

body {
  background: linear-gradient(125.45deg, #131419 0%, #330099 73.23%);
}

.card {
  border-radius: 1rem;
}

.form-control:focus {
  border-color: #6ea8fe;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.btn {
  border-radius: 0.65rem;
}

a.link-info:hover {
  text-decoration: underline;
}

#button {
  background-color: #29779b;
  font-family: "Space Grotesk";
  font-style: normal;
  text-align: center;
  border-radius: 100px;
}