@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk');

#title {
  font-family: "Cinzel Decorative";
  font-style: normal;
  text-align: center;
}

#subtitle {
  font-family: "Space Grotesk";
  font-style: normal;
  text-align: center;
}

body {
  background: linear-gradient(125.45deg, #131419 0%, #330099 73.23%);
}

#button {
  background-color: #29779b;
  font-family: "Space Grotesk";
  font-style: normal;
  text-align: center;
  border-radius: 100px;
}