<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Media Odyssey-Home</title>
        <link rel="stylesheet" th:href="@{/layout/css/global.css}">
        <link rel="stylesheet" th:href="@{/layout/css/fragments.css}">
    </head>
    <body>
        <!--header (display logo[sidebar toggle], homeReturn icon, search bar, user's name and avatar)-->
        <div th:replace="boardsLayout/fragments/header :: header"></div>

        <!-- A side bar that contains features (can be discussed). Side bar can be folded
        Please use the MO logo to work with side bar if needed -->
        <div th:replace="boardsLayout/fragments/sidebar :: sideBar"></div>

        <!--
        * This html is activated when users click on avatar picture, then choose profile.
        ** userProfile.html currently will show user's: 
        *   + avatar  +username  +description  +gender  +boards user created  +boards user've joined 
        -->

        <!-- MAIN CONTENT STARTS HERE -->
        <main class="user-profile-container">
            <div class="profile-header">

                <!-- Avatar is displayed on the right side as a circle, 
                allows user to upload their own profile picture.-->
                <div class="avatar-container"></div>

                <!-- Displayed user's info (input elements can be left empty)-->
                <div class="user-info-box">
                    <input type="text" placeholder="Username" class="info-items">

                    <input type="text" placeholder="description" class="info-items">

                    <input type="text" placeholder="gender" class="info-items">
                </div>
            </div>

            <div class="profile-middle">
                <div class="boards-display-box">
                    <div class="boards-created boardItem"></div>

                    <div class="boards-joined boardItem"></div>
                </div>
            </div>

            <div class="profile-footer"></div>
        </main>

        <script th:src="@{/layout/js/fragments.js}"></script>
    </body>
</html>