<!--side bar elements to put in html pages-->

<aside class="side-bar">
            <div class="sidebar-content">
                <ul class="features-list">

                    <!-- Navigates over to social.html (name can be changed)-->
                    <li data-feature="socialFeature">
                        <a href="/socialTab">Social Feature</a>
                    </li>

                    <!-- Navigates over to trending.html (name can be changed)-->
                    <li data-feature="trending">
                        <a href="/trendingTab">Trending</a>
                    </li>

                </ul>
            </div>
</aside>