<!--side bar elements to put in html pages-->

<aside class="side-bar collapsed" id="sideBar" th:fragment="sideBar">
    <div class="sidebar-content">
        <ul class="features-list">

            <!-- Navigates over to social.html (name can be changed)-->
            <li data-feature="socialFeature">
                    <a href="/socialTab" class="menu-items">Community</a>
            </li>

            <!-- Navigates over to trending.html (name can be changed)-->
            <li data-feature="trending">
                    <a href="/trendingTab" class="menu-items">Trending</a>
            </li>

        </ul>
    </div>
</aside>