<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Media Odyssey-Home</title>
        <link rel="stylesheet" th:href="@{/css/homePage.css}">
    </head>
    <body>
        <!-- header space for logo, home return icon, search bar and username + avatar display -->
        <div th:replace="fragments/header :: header"></div>

        <!-- Implement what you want from here -->

    </body> 
</html>