<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Board name</title>
        <link rel="stylesheet" th:href="@{/css}">
    </head>
    <body>
        <!-- This html will show when a user click on any board. Potential, this board will display 
         seperate sections for music, game, movies. Those objects will be clickable for users to click on
         for more specific informations
        -->
        <header>
            <!--LOGO-->
            <img th:src="@{/images/MO.svg}" alt="Logo" class="logo">

            <!--Home Button (returns to the landing page)-->
            <img th:src="@{/images/House.svg}" alt="homeBtn" class="home-btn">

            <!-- Search bar -->
             <div>
                <input type="text"  id="searchBar" class="search-bar" placeholder="What are you looking for, adventure?">
             </div>
        </header>

        <main>
            <div id="banner" class="banner"></div>

            <div id="objectAvt" class="object-avt"></div>

            <div></div>
        </main>
    </body>
</html>