<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Media Odyssey-Home</title>
        <link rel="stylesheet" th:href="@{/css/homePage.css}">
    </head>
    <body>
        <header>
            <!--LOGO-->
            <img th:src="@{/images/MO.svg}" alt="Logo" class="logo">

            <!--Home Button (returns to the landing page)-->
            <img th:src="@{/images/House.svg}" alt="homeBtn" class="home-btn">

            <!-- Search bar -->
             <div>
                <input type="text"  id="searchBar" class="search-bar" placeholder="What are you looking for, adventure?">
             </div>
        </header>

        <!-- A side bar that contains features (can be discussed). Side bar can be folded -->
        <aside class="side-bar">
            <div class="sidebar-content">
                <ul class="features-list">
                    <li data-feature="socialFeature">Social</li>
                    <li data-feature="trending">Trending</li>
                </ul>
            </div>
        </aside>

        <!-- User side....?-->

        <!-- This div contains the display of boards user have joined and recommendations boards -->
        <div id="mainContent" class="main-content">

            <h3 id="personalBoardTitle" class="personal-boards-title">
                Journeys you've joined:
            </h3>
            <div id="personalBoardsContainer" class="personal-boards-container">
                <div>
                    <a href="/createBoard" class="board create-board">+</a>
                </div>
            </div>

            <div id="recommendationDisplay" class="recommendation-display"></div>
        </div>
        <script th:src="@{/js/homePage.js}"></script>
    </body>
</html>