<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Media Odyssey-Home</title>
        <link rel="stylesheet" th:href="@{/css/homePage.css}">
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <!-- A side bar that contains features (can be discussed). Side bar can be folded -->
        <aside class="side-bar">
            <div class="sidebar-content">
                <ul class="features-list">

                    <!-- Navigates over to social.html (name can be changed)-->
                    <li data-feature="socialFeature">
                        <a href="/socialTab">Social Feature</a>
                    </li>

                    <!-- Navigates over to trending.html (name can be changed)-->
                    <li data-feature="trending">
                        <a href="/trendingTab">Trending</a>
                    </li>

                </ul>
            </div>
        </aside>

        <!-- User side....?-->

        <!-- This div contains the display of boards user have joined and recommendations boards -->
        <div id="mainContent" class="main-content">

            <!--Leave for display trending music, song, movies-->
            <div></div>

            <h3 id="personalBoardTitle" class="personal-boards-title">
                Journeys you've joined:
            </h3>
            <div id="personalBoardsContainer" class="personal-boards-container">

                <!-- Create board element-->
                <div>
                    <a href="/createBoard" class="board create-board">+</a>
                </div>

                <!-- Already joined boards will be shown here -->
                <div></div>
            </div>

            <!-- Recommendation boards display (horizontally)-->
            <div id="recommendationDisplay" class="recommendation-display"></div>
        </div>
        <script th:src="@{/js/homePage.js}"></script>
    </body>
</html>