<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Board's name</title>
        <link rel="stylesheet" th:href="@{/layout/css}">
    </head>
    <body>
        <!-- This html will show when a user click on any board. Potential, this board will display 
         seperate sections for music, game, movies. Those objects will be clickable for users to click on
         for more specific informations
        -->
        
        <!--header (display logo[sidebar toggle], homeReturn icon, search bar, user's name and avatar)-->
        <div th:replace="boardsLayout/fragments/header :: header"></div>

        <!-- A side bar that contains features (can be discussed). Side bar can be folded
         Please use the MO logo to work with side bar if needed -->
        <div th:replace="boardsLayout/fragments/sidebar :: sideBar"></div>

        <!-- main content starts here -->
        <main class="board-container">

            <!-- Top section: Board's avatar + Basic Info -->
            <div class="board-header">
                <div class="board-avatar">
                    <img src="" alt="avt">
                </div>

                <div class="board-Info">
                    <h1 class="board-title">BOARD TITLE</h1>

                    <div class="board-desciption">
                        <span> This is an example for this board </span>
                    </div>
                </div>
            </div>


            <!-- Middle Section: Community's Post + Media display -->
            <div class="board-middle">
                <!-- Let user choose to either see the posts or the media in this board-->
                <div class="middle-select">
                    <button class="board-post">POST</button>
                    <button class="board-media">MEDIA</button>
                </div>

                <!-- This section will be reserved for Post (Prab) -->
                <div class="board-POST-container"></div>

                <!-- MEDIA: this section is to display the media, which is whatever user has put in the board. 
                Aim for now: show movies -->
                <div class="board-MEDIA-container">
                    <div class="movie-card-display"></div>
                </div>
            </div>

            <!-- Footer Section: in thoughts progress...-->
        </main>

        <script th:src="@{/layout/js/homePage.js}"></script>
    </body>
</html>