table {
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

tr.clickable-row:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}