
.container{
    width:70%;
    margin:auto;
    font-family: Arial;
}

.section{
    margin-top:30px;
}

.scroll-box{
    height:250px;
    overflow-y:auto;
    border:1px solid #ccc;
    padding:10px;
}

.member-row{
    display:flex;
    justify-content:space-between;
    padding:6px;
    border-bottom:1px solid #eee;
}

.actions form{
    display:inline;
}

h2,h3{
    margin-top:25px;
}

input[type="text"]{
    padding:6px;
}

select{
    padding:6px;
}

button{
    padding:4px 8px;
    margin-left:5px;
}
